* {
    font-family: 'Montserrat', sans-serif;
}
body {
    background-image: url("../img/bg.png");
    margin: auto;
}
.principal {
    opacity: 1;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 5px;
}
.parabens {
    background-color: rgb(231, 231, 231);
    padding-top: 15px;
}
#titulo {
    text-align: center;
    margin-top: 10px;
}
h3 {
    margin: 10px 0;
    width: 100%;
}
p {
    width: 100%;
}
.box {
    padding: 15px;
    margin: 10px;
    background-color: rgb(224, 224, 224);
}
.box-principal1 {
    padding: 15px;
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(224, 224, 224);
}
.box-principal {
    padding: 15px;
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: rgb(224, 224, 224);
}
.colunas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}
.box-texto {
    margin-left: 25px;
}
.box-image {
    text-align: center;
}
.box-image-muri {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
img {
    border-radius: 5px;
}
#imagem {
    width: 100%;
}
#imagem-p {
    width: 100%;
}
#desenho {
    width: 95%;
}